<td>
    <% if @gs.goal != nil %>
        <% if @gs.approved %>
            <% button_message = "Unlock This Goal" %>
            <% button_class = "unlock_button" %>
        <% else %>
            <% button_message = "Lock This Goal" %>
            <% button_class = "lock_button" %>
        <% end %>
        <div class="btn btn-primary goal_approval <%= button_class %>" id="approval_button_<%= @gs_id %>" gs_id="<%= @gs_id %>"><%= button_message %></div>
    <% end %>
</td>