<td id="target_cell_<%= @gs_id %>">
    <h5>
        Goal Target
        <span class="" id="target_span_<%= @gs.id %>">
            <%= best_in_place @gs, :target, :as => :select, :collection => bip_percent_array, :place_holder => "{Choose}" %>
        </span>
    </h5>
</td>