<% provide(:title, "About") %>

<h1>About EM Education</h1>
<p>
  EM stands for, "Engagement and Mastery." In everything we do, we strive to enhance
  student engagement, so that each student is having a learning experience during each
  classroom session. The end result is that students master the material that they study.
</p>
