<% provide(:title, "About") %>

<h1>Mr. Z School</h1>
<p>
  In everything we do, we strive to enhance student engagement, so that each student 
  has a learning experience during each classroom session.
</p>
