<% provide(:title, "About") %>

<h1>Mr. Z School</h1>
<p>
  Our mission is to
  Promote individualized learning within a classroom
</p>
<p>
  <small>(As opposed to "individualized learning in an online environment")</small>
</p>
<p>
  This is a challenging goal. That's why we develop applications to minimize the obstacles, so that teachers can differentiate in a meaningful way. 
</p>

<p>
  Our flagship app--Desk Consultants--arranges students into groups with classmates who need practice with the same objective. The catch: One student in each group is 
  a "consultant" who is proficient in the objective. The consultant student can take a leadership role so that the group can make incredible strides in their learning.
</p>
</br>
<p><strong>Our Privacy Policy:</strong></p>

<%= link_to 'Privacy Policy', '/files_for_download/privacy_policy.pdf', 
  :class => "plain_link",
  download: 'Privacy Policy.pdf' %>
