
<div class="center jumbotron">
  <h1>Desk Consultants</h1>
  <p>Update version: 2.18</p>
  
  <h2>Create a group seating chart on-the-fly after you take attendance. Group
  students by the objectives they need to study, with one "consultant" student
  who can facilitate the conversation.</h2>
  <h3>Better differentiation and student engagement than classrooms have ever known before.</h3>
  
  <% if logged_in? %>
    <% if current_user.role == "student" %>
      <%= button_to "Your profile", student_path(current_user), 
         class: "btn btn-lg btn-primary", :method => :get %>
    <% else %>
      <%= button_to "Your profile", user_path(current_user), 
         class: "btn btn-lg btn-primary", :method => :get %>
    <% end %>
  <% else %>

    <%= button_to "Log In", login_path, class: "btn btn-lg btn-primary",
      :method => :get %><br/>
    <%= button_to "Sign up for a new teacher account", signup_path, class: "btn btn-lg btn-primary",
      :method => :get %>
  <% end %>
</div>

<div class="center jumbotron">
  <h1>Materials</h1>
  <h3>Lesson Plans and Small Assessments that are designed to use with Desk
  Consultants</h3>
  <h3>Coming Soon</h3>
    <%#= button_to "Materials", materials_url, class: "btn btn-primary",
    :method => :get %>
</div>


