<% materialsMat = [] %>
<% materialsMat[0] = ["Study Guide 1 ~ Evaluate Expressions that include Negative Numbers",
        '/Study_Guides/SG_1_Eval_Express_w_Neg_Nums.docx',
        'SG_1_Eval_Express_w_Neg_Nums.docx'] %>
<% materialsMat[1] = ["Study Guide 158 ~ Solutions to Inequalities",
        '/Study_Guides/SG_158_Solutions_to_inequalities.docx',
        '/Study_Guides/SG_158_Solutions_to_inequalities.docx'] %>
        
<h2>Example Study Guide</h2>
<p>This study guide demonstrates all the features of a quality study guide.</p>
<%= link_to "Study Guide 158 ~ Solutions to Inequalities", 
    '/Study_Guides/SG_158_Solutions_to_inequalities.docx',
    :download => "SG_158_Solutions_to_inequalities.docx" %>

<h2>Ideals for Study Guides</h2>
<p>Teachers submitting study guides for consideration should keep the following ideals in mind:</p>
<ul>
    <li>Interesting Opening</li>
    <li>Begin with context. Gradually increase abstraction until problems at the
    end of the study guide are presented with "naked numbers". (This approach is
    the opposite of that followed by many traditional textbooks)</li>
    <li>A small number of thoughtful problems. This is usually preferable to a 
    large number of problems that require low cognitive demand. If some students
    need additional practice to achieve fluency, more problems can be offered in 
    a follow-up study guide.</li>
    <li>Encourage students to respond with figures or diagrams when appropriate.</li>
    <li>Provide an answer key, or some other way for student to assess their
    understanding.</li>
    <li>In the future, we will strive for attractive presentation and
    interesting graphics and pictures to highlight the content. But for now, we
    are happy to receive collections of well-designed questions.</li>
</ul>

<h2>Study Guides Designed to Use with Desk Consultants</h2>
<p>Soon this page will contain a great deal of content. Lesson plans and small
assessments that are designed to work well with a Desk Consultants experience.</p>
<p>Of course, these materials are not required. Teachers can successfully run a 
Desk Consultants activity with many different materials that you 
already have.</p>

<ul>
<% materialsMat.each do |mat| %>   
    <li>
        <%= link_to mat[0], 
        mat[1],
        :download => mat[2] %>
    </li>
<% end %>
</ul>