<% provide(:title, "Partner") %>





<h1>Partner with EM</h1>
<p><strong>Mr. Z School</strong> is looking for a few good people:</p>
<ul>
    <li>Users, interested in contributing Study Guides and Assessments </li>
    <li>Web Developers, interested in making this project a reality</li>
</ul>
</br>
<p>Please contact Jeff Zivkovic at </p>
<p>(435) 801-4268</p>
<p>zivkovic.jeff@em-education</p>