<%= form_for(label_objective) do |f| %>
  <% if label_objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label_objective.errors.count, "error") %> prohibited this label_objective from being saved:</h2>

      <ul>
      <% label_objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
