<% provide(:title, @student.last_name_first) %>
<% provide(:headerText, "Your Classes") %>
<% provide(:headerPic, 'student.png') %>

<%= render 'shared/headline' %>
<h1><%= @student.full_name %></h1>

<div class="requestBox preferenceBox">
    <div class="singleOption lowSingOpt">
        <h3><strong>Your Classes</strong></h3>
    </div>
    <br/>
    <% @student.seminar_students.each do |ss| %>
        <%= link_to seminar_student_path(ss) do %>
            <div class="singleOption lowSingOpt linkDiv hoverHigh">
                <h4 class="linkHeader"><%= ss.seminar.name %></h4>
            </div>
        <% end %>
    <% end %>
</div>
