
<div class="ribbon">
    <table class="table-borderless">
        
        <tr>
            <td><h2>Switch to Term</h2></td>
            <td class="spacer"></td>
            <% 4.times do |n| %>
                <td class="<%= 'highlighted' if n==@this_term %>">
                    <h2>
                        <%= link_to n+1, goal_students_path(:seminar => @seminar, :term => n), :id => "term_#{n}" %>
                    </h2>
                </td>
            <% end %>
        </tr>
        
        
        <tr>
            <td><h2>Switch to Checkpoint</h2></td>
            <td class="spacer"></td>
            <% 4.times do |n| %>
                <td class="<%= 'highlighted' if n==@this_checkpoint %>">
                    <h2>
                        <%= link_to n + 1, goal_students_path(:seminar => @seminar, :which_checkpoint => n, :override => true), :id => "checkpoint_#{n}" %>
                    </h2>
                </td>
            <% end %>
        </tr>
    </table>
</div>