<div class="row">
    <% @submenus.each do |submenu| %>
        <div class="col-sm-1">
            <%= render 'shared/big_link', link_link: submenu[0], 
                link_text: submenu[1], link_image: submenu[2]  %>
        </div>
    <% end %>
</div>