
<div class="ribbon">
    <table class="table-borderless">
        <tr>
            <td class="reveal highlighted" submenu="goal" id="navribbon_goal">
                Goal
            </td>
            <td class="reveal" submenu="quizzes" id="navribbon_quizzes">
                Quizzes
            </td>
            <td class="reveal" submenu="requests" id="navribbon_requests">
                Requests
            </td>
            <td class="reveal" submenu="stars" id="navribbon_stars">
                Stars
            </td>
        </tr>
    </table>
</div>