
<div class="row">
    <div class="col-sm-7 singleOption">
        <h1 class="chekkity"><%= @student.full_name %></h1>
        <h5><%= @seminar.name %></h5>
        <% @teachers.each do |teacher| %>
            <%= teacher.name_with_title %>
            &emsp;
        <% end %>
    </div>
</div>

<% star_market_info = [star_market_seminar_student_path(@ss), "Market", "market.png"] %>
<% give_key_info = [give_keys_seminar_student_path(@ss), "Give Keys", "key.jpg"] %>
<% move_or_remove_info = [move_or_remove_seminar_student_path(@ss), "Move or Remove", "student_move.png"] %>
<% quiz_info = [quizzes_seminar_student_path(@ss), "Quizzes", "quiz.png"] %>

<% if current_user.type == "Teacher" %>
    <% @submenus = [
        star_market_info,
        give_key_info,
        move_or_remove_info,
        ]
    %>
<% elsif current_user.type == "Student" %>
    <% @submenus = [
        star_market_info,
        quiz_info
        ]
    %>
<% end %>

<%= render 'shared/submenus' %>

