<% provide(:title, 'Edit Teacher') %>
<% provide(:button_text, 'Save changes') %>

<% provide(:headerText, "Update Your Teacher Profile" ) %>
<% provide(:headerPic, "apple.jpg") %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<div class="row">
    
    </br>
    <%= render 'form' %></br>
    <div class="gravatar_edit">
      <%= gravatar_for @teacher %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
</div>