<h2 class="add_key">Give Keys</h2>
<table>
    <% @seminar.objectives.order(:name).each do |objective| %>
        <% this_os = objective.objective_students.find_by(:user => @student) %>
        <tr>
            <% @term = @seminar.term %>
            <%= render 'shared/keys/add_key_buttons', :this_os => this_os %>
            <td><%= objective.name %></td>
            <td><%= render 'shared/keys/list_of_keys', :this_os => this_os, :this_sem => @seminar %></td>
        </tr>
    <% end %>
</table>