<h3><%= (@seminar.term_for_seminar + 1).ordinalize %> Term Goal</h3>
<% if @gs.goal %>
    <h2><%= @gs.statement_with_target %></h2>
    </br>
    
    <% @edit_type_for_comment = "student" %>
    <%= render 'shared/checkpoint_table/checkpoint_table' %>
<% else %>
    </br><h4>You don't have a goal set for this term.</h4>
<% end %> 

<% if !@gs.approved %> 
    </br><%= button_to "Edit This Goal", edit_goal_student_path(@gs), :method => :get, :class => "btn btn-lg btn-primary" %>
<% end %>