
<% def list_of_quizzes(list, category, id_label, age) %>
    <% if list.count > 0 %>
    <% this_action = age == "new" ? "new" : "edit" %>
        <h3><%= category %></h3>
        <table>
            <% list.each do |objective| %>
            <% this_os = objective.objective_students.find_by(:user => @student) %>
                <tr>
                    <td><%= link_to objective.name, 
                            {controller: :quizzes, action: this_action, :objective_id => objective.id, :origin => id_label}, 
                            :class => 'plain_link',
                            :id => "#{id_label}_#{objective.id}"  %></td>
                    <td><%= render 'shared/keys/list_of_keys', :this_os => this_os, :this_sem => @seminar %></td>
                </tr>
            <% end %>
        </table>
    <% end %>
<% end %>

<% if @show_quizzes %>
    <h2>Quizzes Available</h2>
    </br>
    
    <% list_of_quizzes(@unfinished_quizzes, "Unfinished Quizzes", "unfinished", "old") %>
    
    <% list_of_quizzes(@desk_consulted_objectives, "Desk Consultants Objectives", "dc", "new") %>

    <% list_of_quizzes(@teacher_granted_quizzes, "Quizzes Unlocked by your Teacher", "teacher_granted", "new") %>

    <% list_of_quizzes(@pretest_objectives, "Pretest Objectives", "pretest", "new") %>
    
    
<% else %>
    <h3>You have used all of your quiz keys.</h3>
<% end %>