<%= form_for(seminar_user) do |f| %>
  <% if seminar_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seminar_user.errors.count, "error") %> prohibited this seminar_user from being saved:</h2>

      <ul>
      <% seminar_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
