<% provide(:title, 'Goal Options') %>

<% provide(:headerText, "Goal Options" ) %>
<% provide(:headerPic, "apple.jpg") %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<ul>
    <% @goals.each do |goal| %>
        <h3><%= link_to goal.name, edit_goal_path(goal) %></h3>
        </br>
    <% end %>
</ul>

<%= button_to "Create a New Goal Option", new_goal_path, class: "btn btn-lg btn-primary", :method => :get %>