
@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$consultant-color: #462066;
$apprentice-color: #8ed2c9;
$button-color: #4dc3ff;

/* universal */

body {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}



/* typography */


.plain_link {
  color: black !important; 
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: black;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  line-height: 0.1em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}



.center {
  text-align: center;
}

.highlighted {
  background: #82c2ed;
}




/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  padding-left: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  h4 {
    text-align: center;
  }
}

.nav li a:link {
  color: white;
}

.nav li a:active {
  color: white;
}

.nav li a:visited {
  color: white;
}

.slogan {
  color: white;
  margin: 0px 0px 5px 280px;
  font-weight: bold;
  padding-top: 12px;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}



/* Tables */

table, th, td {
  border: 1px solid black;
}


.table-borderless {
    border: none !important;
    tr {
      border: none !important;
    }
    td {
      border: none !important;
    }
    th {
      border: none !important;
    }
}

.reg_cell {
  padding-left:7px;
}

.score_table {
  width: 1200px;
}



.student_name_header {
  height: 24px;
  width: 200px;
}

.score_header_div {
  width: 85px;
}

.score_cell_div {
  width: 85px;
}

.score_cell {
  width: 84px;
  height: 24px;
  padding: 0px;
}

#table_div {
  overflow: scroll;
  width:1200px;
  height:500px;
  position: relative
}

#div_header {
  overflow:hidden;
  width:1180px;
}

#first_col {
  overflow: hidden;
  height: 480px;
  width: 200px;
}

.button-within {
  height: 45px;
}






/* buttons */

.btn-primary {
  border-radius: 24px;
  box-shadow: 0 3px 0 0 #007299;
  color: white;
  margin-bottom: 20px;
}

.btn-primary a:link, a:visited, a:active {
    color: white;
}

.big_link {
  border-radius: 36px;
  background-color: $button-color;
  border: 2px solid black;
  padding: 3px 20px 5px 20px;
  margin-bottom: 3px;
}

.big_link:active {
  background: gray;
}

.link_div {
  color: black;
}




.btn-small {
  width: 80px;
  padding: 5px 10px 5px 10px;
  margin: 8px;
  display: inline;
}

.btn-med {
  width: 175px;
  display: inline;
}

.unlock_button {
  background: gray;
}

.delete_group {
  padding: 10px;
}

.confirm_button {
  background: red;
  box-shadow: 0 3px 0 0 #000000;
  margin: 10px;
}



/* Requests */

.requestBox {
  border-radius: 24px;
  padding: 10px 20px 10px 20px;
}

.Consultant_box {
  background: $consultant-color;
}

.Apprentice_box {
  background: $apprentice-color;
}

.Preference_box {
  background: #fcf4d9;
}



/* Desk Consultants */

.absent {
  background: red;
}

.presentTag {
  display: inline-block;
  margin: 0px;
}

.clicky_seat {
  border-style: solid;
}

.topic {
  background-color: $apprentice-color !important;
}

.consultant-group {
  margin-bottom: 20px;
  
}

.consultant_cell {
  width: 160px;
  font-size: large;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 3px;

  max-height: 3em;
  line-height: 1.2em;
}

.consultant {
  background: $consultant-color !important;
  color: white;
  padding: 5px;
}



/* Assessor */

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}



/* Goalkeeper */

.commentInput {
  width: 500px;
}



/* miscellaneous */

.ribbon {
  background: #e6ffff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.currently_hidden {
  display: none;
}

.small_spacer {
  width: 50px;
}

.spacer {
  width: 150px;
}

.singleOption {
  border-radius: 24px;
  border: 1px solid black;
  padding: 3px 20px 5px 20px;
}

.hoverHigh:hover {
  background: #00ffff;
  color: black;
}

.lowSingOpt {
  background: white;
}

.highSingOpt {
  border: 4px solid black;
  background: #00aaa0;
  color: white;
}



/* Printing */

@media print {
  .break_here {
    page-break-before: always;
  }
  
  .no_print, .no_print *  {
    display: none !important;
  }
}
