
<div class="ribbon">
    <table class="table-borderless">
        <tr>
            <td class="reveal" submenu="name">
                Name
            </td>
            <td class="reveal" submenu="objectives">
                Objectives
            </td>
            <td class="reveal" submenu="pretests">
                Pretests
            </td>
            <td class="reveal highlighted" submenu="priorities">
                Priorities
            </td>
            <td class="reveal" submenu="due_dates">
                Due Dates
            </td>
            <td class="reveal" submenu="advanced">
                Advanced
            </td>
        </tr>
    </table>
</div>