<%= form_for(riposte) do |f| %>
  <% if riposte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(riposte.errors.count, "error") %> prohibited this riposte from being saved:</h2>

      <ul>
      <% riposte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
