<div class="singleOption">
    <%= @question.prompt %>
</div>
</br>

<%= form_for(@riposte) do |r| %>
    <%= render :partial => "/ripostes/#{@question.style}" %>
    </br>
    <%= r.submit "Next Question", class: "btn btn-primary" %>
<% end %>