<%= form_for(consultancy) do |f| %>
  <% if consultancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultancy.errors.count, "error") %> prohibited this consultancy from being saved:</h2>

      <ul>
      <% consultancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
