

<ul>
    <% @consultancies.each do |consultancy| %>
        <li><%= link_to consultancy.created_at.strftime("%B-%d-%Y"), consultancy_url(consultancy, :seminar => @seminar.id) %></li>
        </br>
    <% end %>
</ul>