<footer class="footer">
  <div class="row">
    <%= link_to image_tag("logo.jpg", alt: "Mr.Z School Logo"),
              'https://mrzschool.herokuapp.com/' %>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Partner", partner_path %></li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <h4>Creating Tools. Empowering Educators. Crafting Individualized Learning Experiences.</h4>
    <h4>Because every student is different.</h4>
  </div>
</footer>